.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
esbuild.js
gulp.js
node_modules/**
.github/**
sample-data/**
version.json
.devcontainer/**